h1

{

	font-size: 50px;

}

.introduction

{

	color: blue;

}

h3 em

{

	color: red;

}

body {
  margin:0;
  padding:0;
  background: url(pink-hair-selfie-bun.jpg)no-repeat center fixed; 
  background-size: cover; 
}

